@using AdminFrontend.ViewModels
@model TeachersViewModel
@{
    ViewBag.Title = "Учителя";
    ViewBag.Breadcrumbs = new List<AdminFrontend.Models.Breadcrump>
    {
        new AdminFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<h2>Учителя</h2>
<div>
    @RCPHelpers.Table(Model.TableData)
</div>