body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.rcp-button {
    background-color: darkgray; /* Green */
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}
.rcp-button-min {
    padding: 5px 9px;
    font-size: 16px;
}
.rcp-button:hover {
    background-color: #808080;
    text-decoration: none !important;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.home-buttons-container {
    text-align: center;
}

.home-page-btn {
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    line-height: 300px;
    font-size: 24pt;
}

.home-page-header {
    text-align: center;
    margin-bottom: 50px;
}


label {
    font-weight: normal !important;
}