body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.rcp-button {
    background-color: rgb(51, 68, 179);
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}
.rcp-button-min {
    padding: 5px 9px;
    font-size: 16px;
}
.rcp-button:hover {
    background-color: rgb(28, 47, 169);
    text-decoration: none !important;
}

.home-buttons-container {
    text-align: center;
}
.home-btn-container {
    display: inline-block;
}
.home-page-btn {
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    line-height: 300px;
    font-size: 42pt;
}
.btn-bottom-title {
    font-size: 16pt;
}

.home-page-header {
    text-align: center;
    margin-bottom: 50px;
}


label {
    font-weight: normal !important;
}

.navbar-header {
    width: 100%;
}

.right-menu-btn {
    float: right !important;
}

.footer {
    text-align: center;
}


.central-container {
    text-align: center;
}


.form-input-title {
    font-size: 14pt;
    margin-top: 20px;
}
.form-input, .form-submit-btn {
    width: 300px;
}
.form-submit-btn{
    margin-top: 20px;
}

.form-input {
    font-size: 18pt;
}