@model WorkersFrontend.ViewModels.AuthViewModel

@{
    ViewBag.Title = "Авторизация";
}

<h2>Авторизация</h2>

@using (Html.BeginForm("Index1", "Auth", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ReturnToUrl);
    <table>
        <tr>
            <td>Логин</td>
            <td>@Html.TextBoxFor(m => m.Login)</td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
        </tr>
    </table>
    <div><input class="rcp-button rcp-button-min" type="submit" value="Вход" /></div>
}