@model WorkersFrontend.ViewModels.AuthViewModel

@{
    ViewBag.Title = "Авторизация";
}

<style>
    .exit-btn {
        display: none;
    }
</style>

<div class="central-container">
    <h2>Авторизация</h2>

    @using (Html.BeginForm("Index1", "Auth", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ReturnToUrl);
        <div class="form-input-title">Логин</div>
        <div>
            @Html.TextBoxFor(m => m.Login, new { @class = "form-input" })
        </div>
        <div class="form-input-title">Пароль</div>
        <div>@Html.PasswordFor(m => m.Password, new { @class = "form-input" })</div>
        <div><input class="rcp-button form-submit-btn" type="submit" value="Вход" /></div>
    }
</div>

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <script>
        alert('@Model.Error');
    </script>
}