
@{
    ViewBag.Title = "Главная";
}

<style>
    .navbar {
        display: none;
    }
</style>

<h2 class="home-page-header">Главная</h2>

<div class="home-buttons-container">
        @Html.ActionLink("Экзамен", "Index", "Exam", new { @class = "button rcp-button home-page-btn" })
        @Html.ActionLink("Подготовка", "Index", "Preparation", new { @class = "button rcp-button home-page-btn" })
</div>
