
@{
    ViewBag.Title = "Главная";
}

<style>
    .exit-btn {
        display: none;
    }
</style>

<h2 class="home-page-header">Главная</h2>

<div class="home-buttons-container">
    <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Exam")">Экзамен</a>
    <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Preparation")">Подготовка</a>
</div>
