
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RCP</title>
</head>
<body>
    <div> 
        <h1>Стартовая страница</h1>
        <div>
            @Html.ActionLink("Подготовка", "Index", "Preparation")
        </div>
    </div>
</body>
</html>
