@model AdminFrontend.ViewModels.ExamResultsViewModel

@{
    ViewBag.Title = "Результаты экзаменов";
    ViewBag.Breadcrumbs = new List<AdminFrontend.Models.Breadcrump>
    {
        new AdminFrontend.Models.Breadcrump { Title = "Курсы", Action = "Index", Controller = "Courses" },
        new AdminFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<h2>Результаты экзаменов</h2>

<div class="rcp-table-container">
    <table class="rcp-table">
        <thead class="rcp-table-head">
            <tr>
                <td>ФИО работника</td>
                <td>Дата</td>
                <td>Результат</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.ExamResults)
            {
                <tr>
                    <td><span>@row.FullName</span></td>
                    <td><span>@row.ExamDate</span></td>
                    <td><span>@row.Result</span></td>
                </tr>
            }
        </tbody>
    </table>
</div> 