@model AdminFrontend.ViewModels.CoursesViewModel

@{
    ViewBag.Title = "Курсы";
    ViewBag.Breadcrumbs = new List<AdminFrontend.Models.Breadcrump>
    {
        new AdminFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<h2>Курсы</h2>
<div>
    @RCPHelpers.Table(Model.TableData)
</div>