@model WorkersFrontend.ViewModels.CoursePreparationViewModel

@{
    ViewBag.Title = Model.Name;
}

<style>
    .exit-btn {
        display: none;
    }
</style>

<h1>@Model.Name</h1>

<div>@Model.Description</div>

<hr />
<h2>Материал для изучения</h2>
<div>@Model.MaterialText</div>