@model WorkersFrontend.ViewModels.CoursePreparationViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.Breadcrumbs = new List<WorkersFrontend.Models.Breadcrump>
    {
        new WorkersFrontend.Models.Breadcrump { Title = "Курсы", Action = "Index", Controller = "Preparation" },
        new WorkersFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<style>
    .exit-btn {
        display: none;
    }
</style>

<h1>@Model.Name</h1>

<div>@Model.Description</div>

<hr />
<h2>Материал для изучения</h2>
<div>@Model.MaterialText</div>