@model WorkersFrontend.ViewModels.CoursesViewModel

@{
    ViewBag.Title = "Курсы";
    ViewBag.Breadcrumbs = new List<WorkersFrontend.Models.Breadcrump>
    {
        new WorkersFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<style>
    .exit-btn {
        display: none;
    }
</style>

<h2>Курсы</h2>

<div>
    @foreach (var course in Model.Courses)
    {
        <div class="course-info">
            <h3>
                @Html.ActionLink(course.Name, "Course", new { id = course.Id })
            </h3>
            <div>
                @course.Description
            </div>
            <hr />
        </div>
    }
</div>