@model int

@{ 
    ViewBag.Breadcrumbs = new List<AdminFrontend.Models.Breadcrump>
    {
        new AdminFrontend.Models.Breadcrump { Title = "Работники", Action = "Index", Controller = "Workers" },
        new AdminFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<style>
    .appointed-courses-container {
        margin: 10px;
    }
</style>

<div id="worker-edit-table">
    <h2 data-bind="text: FullName"></h2>

    <h3>Назначенные курсы</h3>
    <!-- ko if: CoursesAreAvailable() -->
        <div data-bind="foreach: AllCourses">
            <div class="appointed-courses-container">
                <input type="checkbox" data-bind="checked: IsChecked" />
                <span data-bind="text: Name"></span>
            </div>
        </div>
        <button class="rcp-button rcp-button-min" data-bind="click: save">Сохранить</button>
    <!-- /ko -->
    <!-- ko ifnot: CoursesAreAvailable() -->
        <div>Недоступно</div>
    <!-- /ko -->

    <h3>Результаты экзаменов</h3>
    <!-- ko if: ExamResultsAreAvailable() -->
        <div class="rcp-table-container">
            <table class="rcp-table">
                <thead class="rcp-table-head">
                    <tr>
                        <td>Наименование курса</td>
                        <td>Дата</td>
                        <td>Результат</td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: ExamResults">
                    <tr>
                        <td><span data-bind="text: CourseName"></span></td>
                        <td><span data-bind="text: Date"></span></td>
                        <td><span data-bind="text: Result"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>    
    <!-- /ko -->
    <!-- ko ifnot: ExamResultsAreAvailable() -->
        <div>Недоступно</div>
    <!-- /ko -->
</div>

<script type="text/javascript">
    $(function() {
        Fader.show();
        function init(data) {
            var viewModel = ko.mapping.fromJS(data);
            viewModel.save = function () {
                Fader.show();
                let filteredData = $.grep(viewModel.AllCourses(), function (el) {
                    return el.IsChecked();
                });
                let selectedData = $.map(filteredData, (el) => {
                    return el.Id();
                });
                let postData = {
                    AppointedCourses: selectedData
                };
                $.post(
                    '@Url.Action("SaveByTeacher", new { id = Model })',
                    postData,
                    function (result) {
                        Fader.hide();
                        if (result.success) {
                            window.location.replace(result.returnTo);
                        } else {
                            alert(result.msg);
                        }
                    }
                );
            }

            ko.applyBindings(viewModel, $('#worker-edit-table')[0]);
            Fader.hide();
        }

        $.post(
            '@Url.Action("GetWorkerInfoForTeacher", new { id = Model })',
            null,
            init
        );
    });
</script>