@model int

<style>
    .appointed-courses-container {
        margin: 10px;
    }
</style>

<h2>@ViewBag.Title</h2>

<div id="worker-edit-table">
    <h3 data-bind="text: FullName"></h3>

    <h4>Назначенные курсы</h4>
    <div data-bind="foreach: AllCourses">
        <div class="appointed-courses-container">
            <input type="checkbox" data-bind="checked: IsChecked" />
            <span data-bind="text: Name"></span>
        </div>
        
    </div>
    <button class="rcp-button rcp-button-min" data-bind="click: save">Сохранить</button>

    <h4>Результаты экзаменов</h4>
    <table class="rcp-table">
        <thead class="rcp-table-head">
            <tr>
                <td>Наименование курса</td>
                <td>Дата</td>
                <td>Результат</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: ExamResults">
            <tr>
                <td><span data-bind="text: CourseName"></span></td>
                <td><span data-bind="text: Date"></span></td>
                <td><span data-bind="text: Result"></span></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function init(data) {
        var viewModel = ko.mapping.fromJS(data);
        viewModel.save = function () {
            let filteredData = $.grep(viewModel.AllCourses(), function (el) {
                return el.IsChecked();
            });
            let selectedData = $.map(filteredData, (el) => {
                return el.Id();
            });
            let postData = {
                AppointedCourses: selectedData
            };
            $.post(
                '@Url.Action("SaveByTeacher", new { id = Model })',
                postData,
                function (result) {
                    if (result.success) {
                        window.location.replace(result.returnTo);
                    } else {
                        alert(result.msg);
                    }
                }
            );
        }

        ko.applyBindings(viewModel, $('#worker-edit-table')[0]);
    }

    $.post(
        '@Url.Action("GetWorkerInfoForTeacher", new { id = Model })',
        null,
        init
    );
</script>