@model AdminFrontend.ViewModels.WorkersViewModel
@{
    ViewBag.Title = "Работники";
    ViewBag.Breadcrumbs = new List<AdminFrontend.Models.Breadcrump>
    {
        new AdminFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<h2>Работники</h2>
<div>
    @RCPHelpers.Table(Model.TableData)
</div>