
@{
    ViewBag.Title = "О системе";
}

<style>
    .right-menu-btn {
        display: none;
    }
</style>

<h2>Информация о системе</h2>

Разработка ведется в рамках выполнения курсовой работы по курсу "Распределенные системы обработки информации" на кафедре "Программное обеспечение ЭВМ и информационные технологии" факультета "Информатика и системы управления" МГТУ им. Н. Э. Баумана.
