@{
    ViewBag.Title = "Управление системой";
}

<h2 class="home-page-header">@ViewBag.Title</h2>

<div class="home-buttons-container">
    <div class="home-btn-container">
        <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Workers")">
            <i class="fa fa-users"></i>
        </a>
        <div class="btn-bottom-title">Работники</div>
    </div>
    <div class="home-btn-container">
        <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Teachers")">
            <i class="fa fa-graduation-cap"></i>
        </a>
        <div class="btn-bottom-title">Учителя</div>
    </div>
    <div class="home-btn-container">
        <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "SystemPassword")">
            <i class="fa fa-key"></i>
        </a>
        <div class="btn-bottom-title">Смена пароля</div>
    </div>
</div>