
@{
    ViewBag.Title = "Админка";
}

<style>
    .navbar {
        display: none;
    }
</style>

<h2>Админка</h2>

<div class="home-buttons-container">
    <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Workers")">Работники</a>
    <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Teachers")">Учителя</a>
</div>