@{
    ViewBag.Title = "Учительская";
}

<style>
    .navbar {
        display: none;
    }
</style>

<h2 class="home-page-header">Учительская</h2>

<div class="home-buttons-container">
    @Html.ActionLink("Работники", "Index", "Workers", new { @class = "button rcp-button home-page-btn" })
    @Html.ActionLink("Курсы", "Index", "Courses", new { @class = "button rcp-button home-page-btn" })
</div>