@{
    ViewBag.Title = "Управление контентом";
}

<h2 class="home-page-header">@ViewBag.Title</h2>

<div class="home-buttons-container">
    <div class="home-btn-container">
        <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Workers")">
            <i class="fa fa-users"></i>
        </a>
        <div class="btn-bottom-title">Работники</div>
    </div>
    <div class="home-btn-container">
        <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Courses")">
            <i class="fa fa-book"></i>
        </a>
        <div class="btn-bottom-title">Курсы</div>
    </div>
</div>