@{
    ViewBag.Title = "Учительская";
}

<style>
    .navbar {
        display: none;
    }
</style>

<h2 class="home-page-header">Учительская</h2>

<div class="home-buttons-container">
    <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Workers")">Работники</a>
    <a class="button rcp-button home-page-btn" href="@Url.Action("Index", "Courses")">Курсы</a>
</div>