
@{
    ViewBag.Title = "Учительская";
}

<h2>Учительская</h2>

<div>
    <div>@Html.ActionLink("Работники", "Index", "Workers")</div>
    <div>@Html.ActionLink("Курсы", "Index", "Courses")</div>
</div>