body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.rcp-button {
    background-color: cadetblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}
.rcp-button-min {
    padding: 5px 9px;
    font-size: 16px;
}


.rcp-table {
    border: 1px solid #000000;
    width: 100%;
}
.rcp-table-head {
    border-bottom: 2px double #000000;
    background: #c8c8c8;
}
.rcp-table-footer {
    border: 1px solid #000000;
    border-top: 2px double #000000;
}
.rcp-table-footer tr {
    height: 40px;
}
.rcp-table tbody tr {
    height: 40px;
}
.rcp-table-btn-column {
    width: 5%;
    text-align: left;
}
tr .rcp-table-btn-column:first-of-type {
    width: 10%;
    text-align: center;
}
.rcp-delete-btn, .rcp-delete-btn:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.rcp-table-edit-btn, .rcp-table-edit-btn:hover {
    color: green;
    cursor: pointer;
    text-decoration: none;
}


.rcp-edit-table {
    width: 100%;
}
.rcp-edit-table tr td:first-of-type {
    width: 20%;
}
#course-edit-form textarea, 
#course-edit-form input:not([type='checkbox']) {
    width: 100%;
}
.question-edit-container {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}
.question-edit-container input:not([type='checkbox']) {
    width: 50% !important;
}
.question-delete-btn {
    float: right;
    font-size: 15pt !important;
}
.answer-container {
    padding: 5px;
}
.question-text-container {
    padding: 5px;
}
.answers-list-container {
    margin: 10px;
}

#worker-edit-table table {
    margin: 10px;
}
#teacher-edit-table table {
    margin: 10px;
}

.fader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}