body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.rcp-button {
    background-color: darkgray;
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}
.rcp-button-min {
    padding: 5px 9px;
    font-size: 16px;
}
.rcp-button:hover {
    background-color: #808080;
    text-decoration: none !important;
}


.rcp-edit-table {
    width: 100%;
}
.rcp-edit-table tr td:first-of-type {
    width: 20%;
}
#course-edit-form textarea, 
#course-edit-form input:not([type='checkbox']) {
    width: 100%;
}
.question-edit-container {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}
.question-edit-container input:not([type='checkbox']) {
    width: 50% !important;
}
.question-delete-btn {
    float: right;
    font-size: 15pt !important;
}
.answer-container {
    padding: 5px;
}
.question-text-container {
    padding: 5px;
}
.answers-list-container {
    margin: 10px;
}

#worker-edit-table .rcp-table-container {
    margin: 10px;
}
#teacher-edit-table .rcp-table-container {
    margin: 10px;
}

.fader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.home-buttons-container {
    text-align: center;
}

.home-page-btn {
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    line-height: 300px;
    font-size: 24pt;
}

.home-page-header {
    text-align: center;
    margin-bottom: 50px;
}

label {
    font-weight: normal !important;
}

.navbar-header {
    width: 100%;
}

.exit-btn {
    float: right !important;
}

.footer {
    text-align: center;
}