@model WorkersFrontend.ViewModels.CoursesViewModel

@{
    ViewBag.Title = "Выбор курса для сдачи экзамена";
    ViewBag.Breadcrumbs = new List<WorkersFrontend.Models.Breadcrump>
    {
        new WorkersFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<h2>Курсы, по которым необходимо пройти экзамен</h2>

<div>

    @if (Model.Courses.Any())
    {
        foreach (var course in Model.Courses)
        {
            <div class="course-info">
                <h2>
                    @Html.ActionLink(course.Name, "StartExam", new { courseId = course.Id })
                </h2>
                <div>
                    @course.Description
                </div>
                @if (Model.Courses.Last() != course)
                {
                    <hr />
                }
            </div>
        }
    }
    else
    {
        <div>Нет курсов, по которым необходимо проходить экзамен</div>
    }
</div>