@model AdminFrontend.ViewModels.LogOnViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogOn</title>
</head>
<body>
    <div> 
        Авторизация
    </div>
</body>
</html>
